@model Rocosa.Models.Categoria

<form method="post" asp-action="Eliminar">
    <input  asp-for="Id" hidden/>
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row">
            <h2 class="text-danger pl-3">Estas seguro de eliminar? </h2>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <dv class="col-md-6">
                <label label asp-for="NombreCategoria" class="form-label">Nombre Categoria</label>
                <input asp-for="NombreCategoria" disabled class="form-control" />        
            </dv>
        </div>
        <br />

        <div class="row">
            <dv class="col-md-6">
                <label label asp-for="MostrarOrden" class="form-label">Orden</label>
                <input asp-for="MostrarOrden" disabled class="form-control" />        
            </dv>
        </div>
        <br />
        <div class="d-grid-2 d-md-block">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-controller="Categoria" asp-action="Index" class="btn btn-success">Regresar</a>
        </div>

    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}